<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452413790445-ae3d9ldbhl04j72c6hdhrj2nf3ehgcr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452413790445-ae3d9ldbhl04j72c6hdhrj2nf3ehgcr1</string>
	<key>API_KEY</key>
	<string>AIzaSyCqVWqvAjMjT7CxNDHnbe_-7YUmCQv4Xok</string>
	<key>GCM_SENDER_ID</key>
	<string>452413790445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-5fccc</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-5fccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452413790445:ios:f983bd08b8d2b58d1414e4</string>
</dict>
</plist>